@font-face {
    font-family: inder;
    src: url('Inder-Regular.ttf') format('trueType');
}
@font-face {
    font-family: alegreya-light;
    src: url('alegreya-sans-light_[allfont.es].ttf') format('trueType');
}
@font-face {
    font-family: alegreya-bold;
    src: url('alegreya-sans-bold_[allfont.es].ttf') format('trueType');
}
body {
    background: url('../img/fondol3.jpg');
    background-repeat: no-repeat;
    background-color: #F9F1CF;
}
header {
    font-family: alegreya-light;
    font-size: 24px;
    color: #fff;
}
a {
    text-decoration: none;
    color: orange;
}
a:hover {
    color: #fff;
}
nav {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: alegreya-bold;
    color: silver;
    font-size: 25px;
}
nav:hover {
    cursor: default;
}
section {
    font-family: inder;
    font-size: 14px;
}
#titulo {
    font-family: alegreya-light;
    font-size: 18px;
    margin-top: 47px;
}
#contenido {
    width: 980px;
    margin: 0 auto;
}

#contenido .articulo {
    width: 240px;
    height: 375px;
    float: left;
    border: 1px solid lightgray;
    border-radius: 3px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 4px grey;
    padding: 5px 5px 22px 5px;
}
#contenido .linea {
    width: inherit
}
#articulo2 {
    margin: 0 112px 0 112px;
}
footer {
    font-family: alegreya-light;
    font-size: 13px;
    color: grey;
    clear: both;
}